.info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 3vh;
    margin-left: 10vh;
    /* width: 70%; */
}

.info-avatar-img {
    height: 15%;
    width: 15%;
}

.info-text {
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.info-text-upper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-text-name {
    font-size: xx-large;
    font-weight: bold;
}

.info-text-colorcode {
    font-family: monospace;
    font-size: large;
}

.info-text-bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-text-title {
    font-size: x-large;
    margin-bottom: 1vh;
}

.info-text-short-intro {
    font-size: large;
}