.header {
    width: 100%;
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header-img {
    width: 150px;
    height: 150px;
}